<div>
  <br/>
  <br/>

  <form [formGroup]="formSend" (ngSubmit)="onsubmit()">
    <div class="create-question-1 overflow-hidden">
      <div class="bg-color-10 py-3 px-4 create-question-2">
        <h2 class=" text-white font-family-bold font-20 ">
          {{ isEditMode ? 'ویرایش سوال' : 'فرایند ساخت سوال' }}
        </h2>

      </div>
      <div class="bg-white py-4 px-3 create-question-11">

        <!--      step 1-->
        <div  [hidden]="step != 1">
          <div class="mb-3">
            <h3 class="font-family-bold font-14 color-1 mb-1">
              در این بخش باید یک عنوان درسی را انتخاب کنید
            </h3>
            <p class="color-1 opacity-50 font-family-regular font-12">
              انتخاب یک درس در این بخش به این معنا است که شما دارید سوالاتی برای این درس طراحی می کنید
            </p>
          </div>
          <div class="border-color-10 border-radius-15 px-3 py-2 create-question-3">
            <div class=" d-flex gap-2 align-items-center">
              <img src="assets/image/searchIcon.svg">
              <div class="example-input w-100">
                <nz-select [nzLoading]="dataCourse.loading" class="w-100 ant-select-transparent"  nzShowSearch nzAllowClear nzPlaceHolder="انتخاب کنید" formControlName="courseId">
                  @for (item of dataCourse?.data;track item.id){
                    <nz-option [nzLabel]="item?.name" [nzValue]="item?.id"></nz-option>

                  }
                </nz-select>
                <!--              <nz-autocomplete [nzOverlayClassName]="'autocompleteCreateQuestion'" [nzDataSource]="filteredOptions" #auto></nz-autocomplete>-->
              </div>
              <img src="assets/image/reloadIcon.svg">
            </div>



          </div>
          <div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
          </div>
        </div>
        <!--      end step 1-->


        <!--      step 2-->
        <div [hidden]="step != 2">
          <div class="mb-5">
            <h3 class="font-family-bold font-14 color-1 mb-1">
              مشخصات سوال
            </h3>
            <p class="color-1 opacity-50 font-family-regular font-12">
              در این بخش شما باید مشصخات مورد نیاز سوال را وارد کنید اطلاعاتی مانند نوع سوال - درجه سختی سوال - تعداد پاسخ های آن
            </p>
          </div>
          <div class="row align-items-center">
            <div class="col-12 col-lg-9">
              <div class="d-flex justify-content-between gap-2 mb-3">
                <h3 class="font-family-regular font-14 color-1 opacity-50 w-100">
                  نوع سوال :
                </h3>
                <nz-select formControlName="isDescriptive" class="input-style">
                  <nz-option [nzValue]="false" nzLabel="تستی"></nz-option>
                  <nz-option [nzValue]="true" nzLabel="تشحریحی"></nz-option>
                </nz-select>
              </div>
              <div class="d-flex justify-content-between gap-2 mb-3">
                <h3 class="font-family-regular font-14 color-1 opacity-50 w-100">
                  تعداد پاسخ ها :
                </h3>
                <input formControlName="answerCount" type="number" class="input-style">
              </div>
              <div class="d-flex justify-content-between gap-2 mb-3">
                <h3 class="font-family-regular font-14 color-1 opacity-50 w-100">
                  در صد سختی سوال :
                </h3>
                <nz-select formControlName="difficulty" class="input-style">
                  <nz-option [nzValue]="1" nzLabel="آسان"></nz-option>
                  <nz-option [nzValue]="2" nzLabel="متوسط"></nz-option>
                  <nz-option [nzValue]="3" nzLabel="سخت" ></nz-option>
                  <nz-option [nzValue]="4" nzLabel="خیلی سخت" ></nz-option>
                </nz-select>
              </div>

            </div>
            <div class="col-12 col-lg-3">
              <app-progress-circle [value]="formSend.value.difficulty * 25" [font]="24" [width]="100" [text]="'در صد سختی'"/>
            </div>
          </div>
          <div>
            <br/>
            <br/>
            <br/>
          </div>
        </div>
        <!--      end step 2-->


        <!--      step 3-->
        <div [hidden]="step != 3">
          <div class="mb-5">
            <h3 class="font-family-bold font-14 color-1 mb-1">
              صورت سوال
            </h3>
            <p class="color-1 opacity-50 font-family-regular font-12">
              صورت سوال خیلی شفاف و گویا وارد کنید به گونه ای که برای هر شخصی قابل فهم باشد و در انتهای سوال از گذاشتن علامت سوال پرهیز کنید
            </p>
          </div>
          <div class="row align-items-center">
            <div class="col-12 col-lg-9">
              <ckeditor formControlName="title" [config]="config" [editor]="Editor"></ckeditor>


            </div>
            <div class="col-12 col-lg-3">
              <app-progress-circle [value]="formSend.value.difficulty * 25" [font]="24" [width]="100" [text]="'در صد سختی'"/>
            </div>
          </div>
          <div>
            <br/>
            <br/>
            <br/>
          </div>
        </div>
        <!--      end step 3-->


        <!--      step 4-->
        <div [hidden]="step != 4">
          <div class="mb-5">
            <h3 class="font-family-bold font-14 color-1 mb-1">
              پاسخ سوال
            </h3>
            <p class="color-1 opacity-50 font-family-regular font-12">
              در این بخش پاسخ سوال را وارد کنید و جواب درست را مشخص کنید ( با کلیک بر روی دکمه قرمز در ابتدای هر سوال میتوانید درست و یا غلط بودن سوال را مشخص کنید
            </p>
          </div>
          <div class="row align-items-center">
            <div class="col-12 col-lg-9">
              <div *ngFor="let answer of answers.controls; let i = index" class="d-flex gap-2 mb-3">
                <div (click)="setCorrect(i)" [class.create-question-9]="answer.value.isCorect" [class.create-question-8]="!answer.value.isCorect"
                     class="cursorPointer border-radius-10 color-1 font-family-regular font-14 create-question-7 d-flex align-items-center justify-content-center">
                  {{i + 1}}
                </div>
                <input [formControl]="getTitleControl(answer)" placeholder="پاسخ {{i + 1}}">
              </div>
              <!--              <div *ngFor="let item of listAnswer" class="d-flex gap-2 mb-3">-->
<!--                <div (click)="changeAnswerTrue(item)" class="{{item.answerTrue ? 'create-question-9' : 'create-question-8'}} cursorPointer border-radius-10  color-1 font-family-regular font-14 create-question-7 d-flex align-items-center justify-content-center">-->
<!--                  {{item?.id}}-->
<!--                </div>-->
<!--                <input class="input-style create-question-10" placeholder="پاسخ {{item?.id}}">-->

<!--              </div>-->
            </div>
            <div class="col-12 col-lg-3">
              <app-progress-circle [value]="formSend.value.difficulty * 25" [font]="24" [width]="100" [text]="'در صد سختی'"/>
            </div>
          </div>
          <div>
            <br/>
            <br/>
            <br/>
          </div>
        </div>
        <!--      end step 4-->

        <!--      step 5-->
        <div [hidden]="step != 5">
          <div class="mb-5">
            <h3 class="font-family-bold font-14 color-1 mb-1">
              ثبت نهایی
            </h3>
            <p class="color-1 opacity-50 font-family-regular font-12">
              سوال و پاسخ درست را با دقت مطالعه کنید و در صورت مورد تایید بودن بر روی دکمه ثبت نهایی کلیک کنید و اگر میخواهید برای همین درس سوال دیگری وارد کنید روی ثبت وورود سوال کلیک کنید
            </p>
          </div>
          <div class="row align-items-center">
            <div class="col-12 col-lg-9">
              <div class="mb-2">
                <h3 class="font-family-bold font-14 color-1">
                  درس مربوط به سوال
                </h3>
                <p class="font-family-regular font-14 color-1">
                  یونیفای ی در قرآن
                </p>
              </div>
              <div class="mb-2">
                <h3 class="font-family-bold font-14 color-1">
                  نوع سوال
                </h3>
                <p class="font-family-regular font-14 color-1">
                  تستی 4 جوابه
                </p>
              </div>
              <div class="mb-2">
                <h3 class="font-family-bold font-14 color-1">
                  صورت سوال
                </h3>
                <p class="font-family-regular font-14 color-1">
                  آیا میتوان کار کرد در حالی که کاری نمی کنید  ؟
                </p>
              </div>
              <div class="mb-2">
                <h3 class="font-family-bold font-14 color-1">
                  جواب صحیح
                </h3>
                <p class="font-family-regular font-14 color-1">
                  پاسخ 2
                </p>
              </div>

            </div>
            <div class="col-12 col-lg-3">
              <app-progress-circle [value]="formSend.value.difficulty * 25" [font]="24" [width]="100" [text]="'در صد سختی'"/>
            </div>
          </div>
          <div>
            <br/>
            <br/>
            <br/>
          </div>
        </div>
        <!--      end step 5-->

        <div class="d-flex gap-2 justify-content-center">
          <button type="button" *ngIf="step != 5" (click)="changeStep('next')" class="bg-color-10 border-color-10 border-radius-10 px-3 py-1 text-white font-family-bold font-14">
            مرحله بعد
          </button>
          <button *ngIf="step == 5" type="submit"  class="bg-color-10 border-color-10 border-radius-10 px-3 py-1 text-white font-family-bold font-14">
            {{ isEditMode ? 'بروزرسانی سوال' : 'ثبت نهایی' }}
          </button>
          <button *ngIf="step == 5"  type="button" class="bg-color-10 border-color-10 border-radius-10 px-3 py-1 text-white font-family-bold font-14">
            ثبت و ورود سوال
          </button>
          <button type="button" (click)="changeStep('prev')" [disabled]="step == 1"  class="create-question-5 border-radius-10 px-3 py-1 text-white font-family-bold font-14 {{step == 1 && 'opacity-25'}} ">
            مرحله قبل
          </button>
          <button type="button" [disabled]="step == 1" class="create-question-6 border-radius-10 px-3 py-1 text-white font-family-bold font-14 {{step == 1 && 'opacity-25'}} ">
            شروع مجدد
          </button>

        </div>

      </div>

    </div>

  </form>

</div>
