<div class="container">
  <div class="bg-white p-3 border-radius-20 mb-4">
    <form [formGroup]="filterForm">
      <div class="d-flex gap-3 align-items-end flex-wrap flex-lg-nowrap">

        <!-- عنوان درسی -->
        <div class="w-100">
          <label class="label-form">عنوان درسی</label>
          <nz-select
            formControlName="courseIdList"
            nzMode="multiple"
            nzPlaceHolder="انتخاب درس"
            class="input-style">

            @for (item of dataCourse; track $index) {
              <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
            }

          </nz-select>
        </div>

        <!-- وضعیت -->
         
        <div class="w-100">
          <label class="label-form">وضعیت سؤال</label>
          <nz-select
            formControlName="isActiveList"
            nzMode="multiple"
            nzPlaceHolder="انتخاب وضعیت"
            class="input-style">

            @for (item of statusOptions; track $index) {
              <nz-option [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
            }

          </nz-select>
        </div>

        <!-- سختی -->
        <div class="w-100">
          <label class="label-form">سختی سؤال</label>
          <nz-select
            formControlName="isDescriptiveList"
            nzMode="multiple"
            nzPlaceHolder="انتخاب سختی"
            class="input-style">

            @for (item of difficultyOptions; track $index) {
              <nz-option [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
            }

          </nz-select>
        </div>

        <!-- جستجو -->
        <div class="w-100">
          <label class="label-form">جست‌وجو</label>
          <input
            nz-input
            type="text"
            class="input-style"
            placeholder="متن خود را وارد کنید"
            formControlName="search">
        </div>

        <!-- پاک کردن -->
        <div class="">
          <button
            nz-button
            nzType="default"
            class="font-14 border-radius-10 h-35  px-4"
            (click)="clearAllFilters()">

            پاک کردن همه
          </button>
        </div>

      </div>
    </form>
  </div>

  @for (item of data; track item?.id) {
    <div class="mb-12">
      <app-card-tests-completed
        [data]="item"
        [id]="1">
      </app-card-tests-completed>
    </div>
  }
</div>
