<div class="container">
  <div class="bg-white p-2 border-radius-20 mb-3">
    <swiper
      (slideChange)="onSlideChange($event)"
      (swiper)="onSwiper($event)"
      [loop]="false"
      [slidesPerView]="'auto'"
      [spaceBetween]="10"
      class="MainOnlineClassesComponent"
    >
      @for (item of dataType;track item){
        <ng-template swiperSlide>
          <div (click)="changeType(item)" class="cursorPointer border-radius-10 p-2 {{item.type == type ? 'main-online-classes-1' : ''}} color-10 font-14 font-family-regular">
            <img src="assets/image/my-educational-system/{{item?.image}}" class="me-2">
            {{item?.title}}
          </div>
        </ng-template>
      }

    </swiper>

  </div>
<!--  <div class="bg-white p-3 border-radius-20 mb-4">-->
<!--    <div class="d-flex gap-3 align-items-end flex-wrap flex-lg-nowrap">-->
<!--      <div class="w-100">-->
<!--        <label class="label-form">-->
<!--          سرویس-->
<!--        </label>-->
<!--        <nz-select ngModel="lucy" class="input-style">-->
<!--          <nz-option nzValue="jack" nzLabel="Jack"></nz-option>-->
<!--          <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>-->
<!--          <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>-->
<!--        </nz-select>-->
<!--      </div>-->
<!--      <div class="w-100">-->
<!--        <label class="label-form">-->
<!--          نوع دوره-->
<!--        </label>-->
<!--        <nz-select ngModel="lucy" class="input-style">-->
<!--          <nz-option nzValue="jack" nzLabel="Jack"></nz-option>-->
<!--          <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>-->
<!--          <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>-->
<!--        </nz-select>-->
<!--      </div>-->
<!--      <div class="w-100">-->
<!--        <label class="label-form">-->
<!--          وضعیت-->
<!--        </label>-->
<!--        <nz-select ngModel="lucy" class="input-style">-->
<!--          <nz-option nzValue="jack" nzLabel="Jack"></nz-option>-->
<!--          <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>-->
<!--          <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>-->
<!--        </nz-select>-->
<!--      </div>-->
<!--      <div class="w-100">-->
<!--        <label class="label-form">-->
<!--          جست و جو در متن-->
<!--        </label>-->
<!--        <input class="input-style" nz-input placeholder="متن خود را وارد کنید" type="text" />-->
<!--      </div>-->
<!--      <div class="w-100 main-online-classes-2">-->

<!--        <button nz-button class="text-white font-family-bold font-14 border-radius-10 bg-color-10 border-color-10 h-35 mb-2 px-4" >فیلتر کن</button>-->

<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
  <div>
    @if (loading) {
      <div class="bg-white border-radius-20 p-12">
        <nz-skeleton  [nzParagraph]="{rows: 2}"></nz-skeleton>

      </div>
    } @else {
      @for (item of data;track item){
        <div class="mb-12">

          <app-card-classes [data]="item"/>
        </div>
      }

    }
  </div>
</div>
