<div>
  <br />
  <br />

  <div class="create-question-1 overflow-hidden">
    <div class="bg-color-10 py-3 px-4 create-question-2 d-flex justify-content-between">
      <h2 class=" text-white font-family-bold font-20 ">
        فرایند ایجاد سرفصل
      </h2>

      <app-button-back />

    </div>
    <div class="bg-white py-4 px-3 create-question-11">

      <div class="mb-5">
        <h3 class="font-family-bold font-14 color-1 mb-1">
          سر فصل های آموزشی
        </h3>
        <p class="color-1 opacity-50 font-family-regular font-12">
          در این بخش عنوان هر فصل مدت زمان ارائه فصل و جزئیات فصل را وارد کنید
        </p>
      </div>
      <div class="row align-items-center">
        <div class="col-12 ">
          <div class="row">
            <div class="col-12 col-lg-6">
              <form [formGroup]="formHeadline" (ngSubmit)="submitHeadline()">
                <div class="d-flex gap-2 create-course-5 mb-2">
                  <input nz-input class="input-style create-course-2" formControlName="name" placeholder="عنوان فصل"
                    type="text" />
                  <input class="input-style create-course-3" nz-input placeholder="00.00.00" formControlName="duration"
                    maxlength="8" (input)="onTimeInput($event)" />
                  <button nz-button
                    class="create-course-4 color-1 font-family-regular font-14 border-radius-5  create-course-6  mb-2 px-4">
                    {{ editModeHeadline.flag ? 'ذخیره' : 'ثبت' }}
                  </button>

                </div>
              </form>
              <div class="border-color-2 border-radius-5 p-2 create-course-9 overflow-y-scroll">
                @for (item of dataCourseManagement; track item?.id; let index = $index) {
                <div>
                  <div
                    class="d-flex gap-1 justify-content-between py-12 px-1 {{dataSelectHeadline?.id == item?.id ? 'create-headline-course-1' : ''}}">
                    <div class="d-flex gap-1 w-100 ">
                      <img src="assets/image/my-educational-system/Frame460.svg">
                      <p class="font-family-regular color-1 font-14 cursorPointer w-100" (click)="selectHeadline(item)">
                        {{ item?.name }}
                      </p>
                    </div>
                    <div class="d-flex gap-1">
                      <p class="font-family-regular color-1 font-14">
                        {{ item?.duration }}
                      </p>
                      <div class="d-flex gap-2 create-course-7">
                        <img src="assets/image/my-educational-system/Frame461.svg" class="cursorPointer"
                          (click)="editCourseManagement(item,index)">
                        <img src="assets/image/my-educational-system/Frame459.svg" class="cursorPointer"
                          (click)="removeCourseManagement(item,index)">
                      </div>
                    </div>
                  </div>
                  <hr class="create-course-8" />
                </div>
                } @empty {
                هیچ سر فصلی ندارید.
                }

              </div>
            </div>
            <div class="col-12 col-lg-6">
              <form [formGroup]="formHeadlineDetail" (ngSubmit)="submitHeadlineDetail()">

                <div class="d-flex gap-2 create-course-5 mb-2">
                  <input nz-input class="input-style create-course-10" placeholder="عنوان جزئبات " type="text"
                    formControlName="name" />
                  <input class="input-style create-course-3" nz-input placeholder="00.00.00" formControlName="duration"
                    maxlength="8" (input)="onTimeInput($event)" />
                  <button nz-button [disabled]="!dataSelectHeadline"
                    class="create-course-4 color-1 font-family-regular font-14 border-radius-5  create-course-6  mb-2 px-4">
                    ثبت
                  </button>


                </div>
              </form>

              <div class="border-color-2 border-radius-5 p-2 create-course-9 overflow-y-scroll">
                @for (item of dataHeadLineDetail; track item?.id; let index = $index) {
                <div>
                  <div
                    class="d-flex gap-1 justify-content-between py-12 px-1 {{dataSelectHeadlineDetail?.id == item?.id ? 'create-headline-course-1' : ''}}">
                    <div class="d-flex gap-1 w-100">
                      <img src="assets/image/my-educational-system/Frame460.svg">
                      <p (click)="selectHeadlineDetail(item)"
                        class="font-family-regular color-1 font-14 w-100 cursorPointer">
                        {{ item?.name }}
                      </p>
                    </div>
                    <div class="d-flex gap-1">
                      <div class="d-flex gap-2 create-course-7">
                        <img src="assets/image/my-educational-system/Frame461.svg" class="cursorPointer"
                          (click)="editCourseManagementDetail(item,index)">
                        <img src="assets/image/my-educational-system/Frame459.svg" class="cursorPointer"
                          (click)="removeCourseManagementDetail(item,index)">

                      </div>
                    </div>


                  </div>
                  <hr class="create-course-8" />
                </div>

                } @empty {
                @if (dataSelectHeadline) {
                جزئبات
                وجود ندارد
                } @else {
                <p>
                  لطفا یه سر فصل را انتخاب کنید


                </p>
                }
                }
              </div>
            </div>
            <nz-divider />
            <div class="col-12">
              <form [formGroup]="formSession" (ngSubmit)="submitSession()">

                <div class="d-flex gap-2 create-course-5 mb-2 align-items-end">
                  <div class="w-100">
                    <label class="font-family-regular font-12 color-1 mb-1 d-block">نام جلسه</label>
                    <input nz-input class="input-style create-course-10" placeholder="عنوان بخش " type="text"
                      formControlName="name" />
                  </div>
                  <div class="w-100" *ngIf="dataEvent?.eventTypeId == 2">
                    <label class="font-family-regular font-12 color-1 mb-1 d-block">فایل</label>
                    <app-file-upload [mediaId]="formSession?.value?.mediaID"
                      [disable]="dataSelectHeadlineDetail == null" [controlName]="'mediaID'" [type]="'media'" />
                  </div>

                  <div class="w-100" *ngIf="dataEvent?.eventTypeId == 1">
                    <label class="font-family-regular font-12 color-1 mb-1 d-block">لینک</label>
                    <input nz-input class="input-style create-course-10" placeholder="لینک " type="text"
                      formControlName="link" />
                  </div>

                  <div class="w-100" *ngIf="dataEvent?.eventTypeId == 3">
                    <label class="font-family-regular font-12 color-1 mb-1 d-block">مکان</label>
                    <input nz-input class="input-style create-course-10" placeholder="مکان " type="text"
                      formControlName="location" />
                  </div>

                  <div class="w-100">
                    <label class="font-family-regular font-12 color-1 mb-1 d-block">ظرفیت</label>
                    <input nz-input class="input-style create-course-10" placeholder="ظرفیت " type="text"
                      formControlName="capacity" />
                  </div>

                  <div class="w-100">
                    <label class="font-family-regular font-12 color-1 mb-1 d-block">زمان شروع</label>
                    <app-persian-datepicker [constrolName]="'startDateTime'" [placeholder]="'زمان شروع'" />
                  </div>
                  <div class="w-100">
                    <label class="font-family-regular font-12 color-1 mb-1 d-block">زمان پایان</label>
                    <app-persian-datepicker [constrolName]="'endDateTime'" [placeholder]="'زمان شروع'" />
                  </div>
                  <button nz-button [disabled]="dataSelectHeadlineDetail == null"
                    class="create-course-4 color-1 font-family-regular font-14 border-radius-5  create-course-6 px-4">
                    ثبت
                  </button>


                </div>
              </form>

              <div class="border-color-2 border-radius-5 p-2 create-course-9 overflow-y-scroll">
                <!-- @for (item of dataSession; track item?.id; let index = $index) { -->
                <div class="table-container">
                  <table class="sessions-table">
                    <thead>
                      <tr>
                        <th>نام جلسه</th>
                        @if(dataEvent?.eventTypeId == 2) {
                        <th>فایل</th>
                        } @else if(dataEvent?.eventTypeId == 1) {
                        <th>لینک</th>
                        } @else if(dataEvent?.eventTypeId == 3) {
                        <th>مکان</th>
                        }

                        <th>تاریخ شروع</th>
                        <th>تاریخ پایان</th>

                        <th class="actions-header">عملیات</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (item of dataSession; track item?.id; let index = $index) {
                      <tr>
                        <td class="session-name">
                          <div class="d-flex gap-1 align-items-center">
                            <img src="assets/image/my-educational-system/Frame460.svg" alt="آیکون جلسه">
                            <span class="font-family-regular color-1 font-14">{{ item?.name }}</span>
                          </div>
                        </td>
                        @if(dataEvent?.eventTypeId == 2) {
                        <td class="session-file">
                          <a class="font-family-regular color-6 font-14" [href]="`${environment.apiUrl}/${MicroService.mediaapi}/api/File/DownloadFile?IDMedia=${item?.mediaID}`" target="_blank">
                            مشاهده فایل
                          </a>
                        </td>
                        } @else if(dataEvent?.eventTypeId == 1) {
                        <td class="session-link">
                          <a class="font-family-regular color-6 font-14" [href]="item?.link" target="_blank">
                            {{ item?.link }}
                          </a>
                        </td>
                        } @else if(dataEvent?.eventTypeId == 3) {
                        <td class="session-location">
                          <span class="font-family-regular color-1 font-14">{{ item?.location }}</span>
                        </td>
                        }
                        <td class="session-date">
                          <span class="font-family-regular color-1 font-14">{{ item?.startDateTimeShamsi }}</span>
                        </td>
                        <td class="session-date">
                          <span class="font-family-regular color-1 font-14">{{ item?.endDateTimeShamsi }}</span>
                        </td>
                        <td class="session-actions">
                          <div class="d-flex gap-2 create-course-7">
                            <img src="assets/image/my-educational-system/Frame461.svg" class="cursorPointer"
                              alt="ویرایش" (click)="editSession(item,index)">
                            <img src="assets/image/my-educational-system/Frame459.svg" class="cursorPointer" alt="حذف"
                              (click)="removeSession(item,index)">
                          </div>
                        </td>
                      </tr>
                      } @empty {
                      @if (dataSelectHeadlineDetail) {
                      بخش
                      وجود ندارد
                      } @else {
                      <p>
                        لطفا یه جزئبات را انتخاب کنید
                      </p>
                      }
                      }
                    </tbody>
                  </table>
                </div>


              </div>
            </div>
          </div>
        </div>


      </div>
      <div>
        <br />
        <br />
        <br />
      </div>


      <div class="d-flex gap-2 justify-content-center">
      </div>

    </div>
  </div>
</div>