<div>
  <div class="space-element">
    <app-slider-education/>
  </div>
  <div class="space-element">
    <h3 class="font-14 color-1 font-family-bold mb-3">
      در مرحله پیش تولید
    </h3>
    <div>
      <swiper
        style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff"
        [config]="swiperConfig"
        class="p-2"
      >
        @for (item of dataPre; track item) {
          <ng-template swiperSlide>
            <app-card-pre-production-education [data]="item"/>

          </ng-template>
        }
      </swiper>

    </div>
  </div>
  <div class="space-element">
    <h3 class="font-14 color-1 font-family-bold mb-3">
      دوره های آموزشی
    </h3>
    <div class="row">
      @for (item of dataEducation; track item) {
        <div class="col-12 col-lg-3 mb-4">
          <app-card-education [data]="item"/>
        </div>
      }
    </div>
  </div>

</div>
