<div class="container">
  <div class="bg-white p-3 border-radius-20 mb-4">
    <div class="d-flex gap-3 align-items-end flex-wrap flex-lg-nowrap">
      <div class="w-100">
        <label class="label-form">
          عنوان درسی
        </label>
        <nz-select ngModel="lucy" class="input-style">
          <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
          <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
          <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
        </nz-select>
      </div>
      <div class="w-100">
        <label class="label-form">
          وضعیت سوال
        </label>
        <nz-select ngModel="lucy" class="input-style">
          <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
          <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
          <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
        </nz-select>
      </div>
      <div class="w-100">
        <label class="label-form">
          سختی سوال
        </label>
        <nz-select ngModel="lucy" class="input-style">
          <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
          <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
          <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
        </nz-select>
      </div>
      <div class="w-100">
        <label class="label-form">
          جست و جو در متن
        </label>
        <input class="input-style" nz-input placeholder="متن خود را وارد کنید" type="text"/>
      </div>
      <div class="w-100 main-online-classes-2">

        <button nz-button
                class="text-white font-family-bold font-14 border-radius-10 bg-color-10 border-color-10 h-35 mb-2 px-4">
          فیلتر کن
        </button>

      </div>

    </div>
  </div>
  @if (data){
    @for (item of data;track  item?.id;let index = $index) {
      <div class="mb-12 bg-white mb-2 border-radius-8 p-3 d-flex justify-content-between align-items-center" >
        <p class="font-family-bold color-1">
          {{item.event?.title}}

        </p>
        <div class="d-flex gap-2">
             <button routerLink="create-headline-course/{{item.event?.id}}" type="button" class="font-family-regular px-2 py-1 border-radius-8 border-color-3 bg-white color-3">
          سر فصل ها
        </button>
        <button routerLink="edit/{{item.event?.id}}" type="button" class="font-family-regular px-2 py-1 border-radius-8 border-color-10 bg-white color-10">
          ویرایش
        </button>
         <button nz-button [nzLoading]="isLoadingDelete(item.event?.id)"  type="button" (click)="deleteItem(data,item.event?.id, `/${MicroService.course}/Event/Delete`)" class="font-family-regular px-2 py-1 border-radius-8 border-color-11 bg-white color-11">
          حذف
        </button>
        </div>
     
      </div>
    } @empty {
      هیچ دوره ای ندارید
    }

  } @else {
    <div class="mb-12 bg-white mb-2 border-radius-8 p-3 d-flex justify-content-between align-items-center" >
      <nz-skeleton  [nzParagraph]="{rows: 2}"></nz-skeleton>

    </div>

  }

</div>
