<div class="container">
  <div class="bg-white p-3 border-radius-20 mb-4">
    <div class="d-flex gap-3 align-items-end flex-wrap flex-lg-nowrap">
      <form [formGroup]="filterForm" class="d-flex gap-3 align-items-end flex-wrap flex-lg-nowrap">

        <div class="w-100">
          <label class="label-form">عنوان درسی</label>
          <nz-select formControlName="title" class="input-style">
            <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
            <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
          </nz-select>
        </div>

        <div class="w-100">
          <label class="label-form">وضعیت سوال</label>
          <nz-select formControlName="status" class="input-style">
            <nz-option nzValue="1" nzLabel="فعال"></nz-option>
            <nz-option nzValue="0" nzLabel="غیرفعال"></nz-option>
          </nz-select>
        </div>

        <div class="w-100">
          <label class="label-form">سختی سوال</label>
          <nz-select formControlName="level" class="input-style">
            <nz-option nzValue="easy" nzLabel="آسان"></nz-option>
            <nz-option nzValue="mid" nzLabel="متوسط"></nz-option>
            <nz-option nzValue="hard" nzLabel="سخت"></nz-option>
          </nz-select>
        </div>

        <div class="w-100">
          <label class="label-form">جست‌وجو در متن</label>
          <input formControlName="search" class="input-style" nz-input placeholder="متن خود را وارد کنید" />
        </div>

        <div class="w-100 main-online-classes-2">
          <button nz-button class="text-white font-family-bold font-14 border-radius-10 bg-color-8 border-color-8 h-35 mb-2 px-4"
                  (click)="applyFilter()">
            فیلتر کن
          </button>
        </div>

      </form>

    </div>
  </div>
  @if (data){
    @for (item of data;track  item?.id;let index = $index) {
      <div class="mb-12 bg-white mb-2 border-radius-8 p-3 d-flex justify-content-between align-items-center" >
        <div class="d-flex gap-2 align-items-center">
          <p class="font-family-bold color-1">
            {{item.event?.title}}

          </p>
          <p class="font-family-regular border-color-3 font-12 border-radius-8 px-1 bg-color-3 text-white">
            {{item.event?.eventTypeTitle}}

          </p>



        </div>
        <div class="d-flex gap-2">
             <button routerLink="create-headline-course/{{item.event?.id}}" type="button" class="font-family-regular px-2 py-1 border-radius-8 border-color-3 bg-white color-3">
          سر فصل ها
        </button>
        <button routerLink="edit/{{item.event?.id}}" type="button" class="font-family-regular px-2 py-1 border-radius-8 border-color-8 bg-white color-8">
          ویرایش
        </button>
         <button nz-button [nzLoading]="isLoadingDelete(item.event?.id)"  type="button" (click)="deleteItem(data,item.event?.id, `/${MicroService.course}/Event/Delete`)" class="font-family-regular px-2 py-1 border-radius-8 border-color-11 bg-white color-11">
          حذف
        </button>
        </div>

      </div>
    } @empty {
      هیچ دوره ای ندارید
    }

  } @else {
    <div class="mb-12 bg-white mb-2 border-radius-8 p-3 d-flex justify-content-between align-items-center" >
      <nz-skeleton  [nzParagraph]="{rows: 2}"></nz-skeleton>

    </div>

  }

</div>
