.card-question-1{
  background: #F4EBFF;
  border:1px solid #F4EBFF;
}
.card-classes-1{
  width: 48px;
  height: 60px;
}
.card-classes-2{
  width: 30px;
  height: 30px;
}
.card-classes-3{
  background: #479696;
}
.card-classes-4{
  background: #413673;
}
.card-classes-5{
  background: #D1B57A;
}
.card-classes-6{
  background: #C93F8D;
}
.card-classes-7{
  border:1px solid rgba(130, 155, 176, 0.5);
}
