
<div  *ngIf="type == 1"   class="text-center cursorPointer">
  <img src="assets/image/my-educational-system/Group343.svg">
  <h3 class="color-1 font-12 font-family-bold">
    دوره آنلاین
  </h3>
</div>
<div  *ngIf="type == 2"  class="text-center cursorPointer">
  <img src="assets/image/my-educational-system/Group345.svg">
  <h3 class="color-1 font-12 font-family-bold">
    دوره آفلاین
  </h3>

</div>
<div  *ngIf="type == 3"  class="text-center cursorPointer">
  <img src="assets/image/my-educational-system/Group344.svg">
  <h3 class="color-1 font-12 font-family-bold">
    دوره حضوری
  </h3>
</div>
