.slider-education-1{
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  aspect-ratio: 3/1;
}
.slider-education-2{
  width: 80px !important;
  aspect-ratio: 2 / 1;
  //max-width: 90px;
}
.slider-education-3{
  //margin-top: -60px;
  position: absolute;
  left: 24px;
  bottom: 70px;
}
