.main-online-classes-1{
  background: rgba(209, 181, 122, 0.22);
}
.main-online-classes-2{
  max-width: 100px;
}
.main-financial-transactions-1{
  background: rgba(209, 181, 122, 0.22);
}
.main-financial-transactions-2{
  min-width: 70px;
  width: 10%;
  max-width: 120px;
  text-align: center;
}
.main-financial-transactions-3{
  min-width: 100px;
  width: 15%;
  max-width: 110px;
  text-align: center;

}
.main-financial-transactions-4{
  flex : auto;
}
.main-financial-transactions-5{
  background: rgba(7, 168, 255, 0.2);
  border: 1px solid #07A8FF;
  border-radius: 10px;
}
.main-financial-transactions-6{
  background: rgba(119, 217, 158, 0.2);
  border: 1px solid #77D99E;
  border-radius: 10px;
}
.main-financial-transactions-7{
  background: rgba(252, 196, 41, 0.2);
  border: 1px solid #FCC429;
  border-radius: 10px;
}
.main-financial-transactions-8{
  background: rgba(252, 74, 126, 0.2);
  border: 1px solid #D1B57A;
  border-radius: 10px;
}

