.card-education-1 {
  border-radius: 16px 16px 0 0;
  aspect-ratio: 16 / 7;
}

.card-education-2 {
  top: 8px;
  left: 8px;
}

.card-education-3 {
  bottom: 8px;
  right: 8px;
}

.card-education-4 {
  background-color: rgba(7, 168, 255, 0.63);
}

.card-education-5 {
  background-color: rgba(130, 155, 176, 0.63);
}

.card-education-6 {
  background-color: rgba(252, 74, 126, 0.63);
}

.card-education-7 {
  stroke: rgba(7, 168, 255, 0.63);
}

.card-education-8 {
  stroke: rgba(130, 155, 176, 0.63);
}

.card-education-9 {
  stroke: rgba(252, 74, 126, 0.63);
}
.card-education-10 {
  height: 24px;
}

