<div class="bg-color-14 py-4 py-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h3 class="text-white font-family-bold font-24 mb-3">
          سیستم آموزشی تدبر زندگی
        </h3>
        <p class="text-white font-family-regular font-14 mb-2 col-12 col-lg-6">
          شما می توانید ما  در شبکه  های اجتماعی دنبال کنید
          تا از جدید ترین آموزش ها و اخبار و دوره های ما با خبر
          شوید .
        </p>
<!--        <div class="d-flex gap-2">-->

<!--        </div>-->
      </div>
      <div class="col-12 col-lg-3">
        <h3 class="text-white font-family-bold font-24 mb-2">
          لینک ها
        </h3>
        <div>
          <p class="font-family-regular font-14 text-white mb-1">
            تدبر
          </p>
          <p class="font-family-regular font-14 text-white mb-1">
            ویکی تدبر
          </p>
          <p class="font-family-regular font-14 text-white mb-1">
            دستیار تدبر
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div></div>
        <div>
          <h3 class="text-white font-family-bold font-24 mb-12">
            ارتباط با ما
          </h3>
          <div>
            <div class="mb-1">
              <h3 class="font-family-bold font-14 text-white">
                شماره تماس
              </h3>
              <p class="font-family-regular font-14 text-white">
                025-656989878
              </p>
            </div>
            <div class="mb-1">
              <h3 class="font-family-bold font-14 text-white">
                فکس
              </h3>
              <p class="font-family-regular font-14 text-white">
                025-699889897
              </p>
            </div>
            <div class="mb-1">
              <h3 class="font-family-bold font-14 text-white">
                پست الکترونیک
              </h3>
              <p class="font-family-regular font-14 text-white">
                tadaborzendgi&commat;tadabor.com
              </p>
            </div>
            <div class="mb-1">
              <h3 class="font-family-bold font-14 text-white">
                اکانت ایتا
              </h3>
              <p class="font-family-regular font-14 text-white">
                tadabor  &commat;
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
