<div class="bg-color-1 py-4 py-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <h3 class="text-white font-family-bold font-24 mb-3">
          سیستم آموزشی یونیفای
        </h3>
        <p class="text-white font-family-regular font-14 mb-2">
          دانشگاه مجازی رسانه و تولید محتوا (Uniphy)
          پلتفرم تخصصی آموزش مهارت‌محور در حوزه رسانه و تولید محتوا با تمرکز بر آموزش‌های کاربردی، پروژه‌محور و اتصال به بازار کار.
        </p>
<!--        <div class="d-flex gap-2">-->

<!--        </div>-->
      </div>
      <div class="col-12 col-lg-4">
        <h3 class="text-white font-family-bold font-24 mb-2">
          همکاری‌های آموزشی
        </h3>
        <div>
          <p class="font-family-regular font-14 text-white mb-1">
            Uniphy آماده همکاری با دانشگاه‌ها، مراکز آموزش عالی و نهادهای فرهنگی در برگزاری دوره‌های آزاد، مهارت‌محور و مشترک است.

          </p>
<!--          <p class="font-family-regular font-14 text-white mb-1">-->
<!--            ویکی یونیفای-->
<!--          </p>-->
<!--          <p class="font-family-regular font-14 text-white mb-1">-->
<!--            دستیار یونیفای-->
<!--          </p>-->
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div></div>
        <div>
          <h3 class="text-white font-family-bold font-24 mb-12">
            ارتباط با ما
          </h3>
          <div>
            <div class="mb-1">
              <h3 class="font-family-bold font-14 text-white">
                شماره تماس
              </h3>
              <p class="font-family-regular font-14 text-white">
                09192526786
              </p>
            </div>
<!--            <div class="mb-1">-->
<!--              <h3 class="font-family-bold font-14 text-white">-->
<!--                فکس-->
<!--              </h3>-->
<!--              <p class="font-family-regular font-14 text-white">-->
<!--                025-699889897-->
<!--              </p>-->
<!--            </div>-->
            <div class="mb-1">
              <h3 class="font-family-bold font-14 text-white">
                پست الکترونیک
              </h3>
              <p class="font-family-regular font-14 text-white">
                hadi.shokravi66&#64;gmail.com
              </p>
            </div>
<!--            <div class="mb-1">-->
<!--              <h3 class="font-family-bold font-14 text-white">-->
<!--                اکانت ایتا-->
<!--              </h3>-->
<!--              <p class="font-family-regular font-14 text-white">-->
<!--                tadabor  &commat;-->
<!--              </p>-->
<!--            </div>-->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
