.footer-layout-1{
  background: #D7F2F4;
  border-radius: 48px 48px 0px 0px;
}
.footer-layout-2{
  color: transparent;
  border-top: 1px solid #2BA8B6;
  opacity: 1;
}
.footer-layout-3{
  background:  #2BA8B6;
}
.footer-layout-4{
  width: 75px;
  height: 75px;
}
