.sidebar-layout-1:before{
  position: absolute;
  right: -16px;
  top: 0;
  bottom: 0;
  content: "";
  width: 4px;
  border-radius: 8px;
  background: #D1B57A;
}
.sidebar-layout-2{
  height: 100vh;
  overflow: scroll;
  position: sticky;
  right: 0;
  top: 0;
}
.sidebar-layout-3{
  background-color: rgba(209, 181, 122, 0.13);
}
.sidebar-layout-4{
  margin-top: -32px;
}
