.main-records-1{
  width: 50px;
  height: 50px;
}
.main-records-2{
 background: linear-gradient(4deg,#6F51C6,#AE91FF);
}
.main-records-3{
 background: #77D99E;
 border:1px solid #77D99E;
}
.main-records-4{
 color: #77D99E;
}
.main-records-5{
  width: 300px;
}
