<div class="login-page">
  <nz-card class="login-card">
    <h3 class="text-center mb-4 font-family-bold font-24"> 
      صفحه ورود
    </h3>
    <nz-tabset [(nzSelectedIndex)]="activeTabIndex">
      <!-- Tab 1: Phone + OTP -->
      <nz-tab nzTitle="ورود با کد تایید">
        <div class="tab-content" dir="ltr">
          <form nz-form [formGroup]="phoneForm" (ngSubmit)="sendOtp()" *ngIf="otpStep === 'enterPhone'">
            <nz-form-item>
              <nz-form-label>شماره موبایل</nz-form-label>
              <nz-form-control class="d-inline-table">
                <input nz-input formControlName="Phone" placeholder="مثلاً 09121234567" />
                <!--                <nz-form-explain *ngIf="phoneForm.controls['phone'].touched && phoneForm.controls['phone'].invalid">-->
                <!--                  شماره موبایل صحیح وارد کنید (مثال: 09xxxxxxxxx)-->
                <!--                </nz-form-explain>-->
              </nz-form-control>
            </nz-form-item>

            <div class="actions">
              <button nz-button nzType="primary" [disabled]="otpSending" [nzLoading]="otpSending">دریافت کد</button>
              <button class="bg-color-3 text-white border-color-3 px-3 py-1" routerLink="/auth/register">
                ثبت نام
              </button>
            </div>
          </form>

          <div *ngIf="otpStep === 'verifyCode'">
            <form nz-form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
              <nz-form-item>
                <nz-form-label>کد تایید</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="Code" placeholder="کد دریافتی را وارد کنید" />
                  <!--                  <nz-form-explain *ngIf="otpForm.controls['code'].touched && otpForm.controls['code'].invalid">-->
                  <!--                    کد معتبر وارد کنید-->
                  <!--                  </nz-form-explain>-->
                </nz-form-control>
              </nz-form-item>

              <div class="actions">
                <button nz-button nzType="primary" [disabled]="otpVerifying" [nzLoading]="otpVerifying">تأیید</button>
                <button nz-button nzType="default" (click)="resendOtp()" [disabled]="resendDisabled">{{ resendText
                  }}</button>
                <button nz-button nzType="link" (click)="otpStep='enterPhone'">بازگشت</button>
              </div>
            </form>
          </div>
        </div>
      </nz-tab>

      <!-- Tab 2: username + Password -->
      <nz-tab nzTitle="ورود با رمز عبور">
        <div class="tab-content" dir="ltr">
          <form nz-form [formGroup]="passwordForm" (ngSubmit)="loginWithPassword()">
            <nz-form-item>
              <nz-form-label>شماره موبایل</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="username" placeholder="مثلاً 09121234567" />
                <!--                <nz-form-explain *ngIf="passwordForm.controls['username'].touched && passwordForm.controls['username'].invalid">-->
                <!--                  شماره موبایل صحیح وارد کنید-->
                <!--                </nz-form-explain>-->
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>رمز عبور</nz-form-label>
              <nz-form-control>
                <input nz-input type="password" formControlName="password" />
                <!--                <nz-form-explain *ngIf="passwordForm.controls['password'].touched && passwordForm.controls['password'].invalid">-->
                <!--                  رمز عبور معتبر وارد کنید-->
                <!--                </nz-form-explain>-->
              </nz-form-control>
            </nz-form-item>

            <div class="actions">
              <button [nzLoading]="loadingButton" nz-button nzType="primary"
                [disabled]="passwordForm.invalid">ورود</button>
              <button class="bg-color-3 text-white border-color-3 px-3 py-1" routerLink="/auth/register">
                ثبت نام
              </button>
            </div>
          </form>
        </div>
      </nz-tab>
    </nz-tabset>
    <!-- <div class="text-center " > -->

    <!-- </div> -->

  </nz-card>
</div>