<div class="login-page">
  <nz-card class="login-card">
    <h3 class="text-center mb-4 font-family-bold font-24">
      صفحه ورود
    </h3>
    <nz-tabset [(nzSelectedIndex)]="activeTabIndex">
      <!-- Tab 1: Phone + OTP -->
      <nz-tab nzTitle="ورود با کد تایید">
        <div class="tab-content">
          <form nz-form [formGroup]="phoneForm" (ngSubmit)="sendOtp()" *ngIf="otpStep === 'enterPhone'">
            <!--            <nz-form-item>-->
            <!--              <nz-form-label dir="rtl">-->
            <p class="font-family-regular">
              شماره موبایل
              :

            </p>

            <input dir="ltr" nz-input formControlName="Phone" placeholder="مثلاً 09121234567"/>


            <div class="actions">
              <button nz-button nzType="primary" [disabled]="otpSending" [nzLoading]="otpSending">دریافت کد</button>
              <button class="bg-color-1 text-white border-color-1 px-3 py-1" routerLink="/auth/register">
                ثبت نام
              </button>
            </div>
          </form>

          <div *ngIf="otpStep === 'verifyCode'">
            <form nz-form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
              <p class="font-family-regular">
                کد تایید
                :
              </p>

              <input dir="ltr" nz-input formControlName="Code" placeholder="کد دریافتی را وارد کنید"/>

              <div class="actions">
                <button nz-button nzType="primary" [disabled]="otpVerifying" [nzLoading]="otpVerifying">تأیید</button>
                <button nz-button nzType="default" (click)="resendOtp()" [disabled]="resendDisabled">{{
                    resendText
                  }}
                </button>
                <button nz-button nzType="link" (click)="otpStep='enterPhone'">بازگشت</button>
              </div>
            </form>
          </div>
        </div>
      </nz-tab>

      <!-- Tab 2: username + Password -->
      <nz-tab nzTitle="ورود با رمز عبور">
        <div class="tab-content">
          <form nz-form [formGroup]="passwordForm" (ngSubmit)="loginWithPassword()">
            <div class="mb-3">
              <p class="font-family-regular">
                شماره موبایل
                :
              </p>
              <input dir="ltr" nz-input formControlName="username" placeholder="مثلاً 09121234567"/>

            </div>
            <div>
              <p class="font-family-regular">
                رمز عبور
                :
              </p>
              <input nz-input type="password" formControlName="password"/>

            </div>
            <!--                <nz-form-explain *ngIf="passwordForm.controls['password'].touched && passwordForm.controls['password'].invalid">-->
            <!--                  رمز عبور معتبر وارد کنید-->
            <!--                </nz-form-explain>-->
            <div class="actions">
              <button [nzLoading]="loadingButton" nz-button nzType="primary"
                      [disabled]="passwordForm.invalid">ورود
              </button>
              <button class="bg-color-3 text-white border-color-3 px-3 py-1" routerLink="/auth/register">
                ثبت نام
              </button>
            </div>
          </form>
        </div>
      </nz-tab>
    </nz-tabset>
    <!-- <div class="text-center " > -->

    <!-- </div> -->

  </nz-card>
</div>
