<div class="container">
  <div class="bg-white p-2 border-radius-20 mb-3">
    <swiper
      (slideChange)="onSlideChange($event)"
      (swiper)="onSwiper($event)"
      [loop]="false"
      [slidesPerView]="'auto'"
      [spaceBetween]="10"
      class="MainOnlineClassesComponent"
    >
      @for (item of dataType;track item){
        <ng-template swiperSlide>
          <div (click)="changeType(item)" class="cursorPointer border-radius-10 p-2 {{item.type == type ? 'main-course-management-1' : ''}} color-10 font-14 font-family-regular">
            <img src="assets/image/my-educational-system/{{item?.image}}" class="me-2">
            {{item?.title}}
          </div>
        </ng-template>
      }

    </swiper>

  </div>
  <div>
    @if(type == TypeCourseManagement.createCourse){
      <div class="mb-12">
        <app-create-course/>
      </div>

    } @else if (type == TypeCourseManagement.listCourse){
      <app-list-course/>
    }
  </div>
</div>
