.card-pre-production-education-1{
  aspect-ratio: 1/1;
  width: 32px;
}
.card-pre-production-education-2{
  aspect-ratio: 1/1;
  width: 32px;
}
.card-pre-production-education-3:hover{
  box-shadow:0 2px 4px rgb(149 149 149);
  transition-duration: .5s;
}
