
$color-1: #1A2A45; //dd
$color-2: #0A0A0C; //dd
$color-3: #07A8FF; //dd
$color-4: #F3F3F3; //dd
$color-5: #829BB0; //dd
$color-6: #555F61; //dd
$color-7: rgba(130, 155, 176, 0.63); //dd
$color-8: #D1B57A; //dd
$color-9: rgba(0, 0, 0, 0.5); //dd
$color-10: #785ACE; //dd
$color-11: #D81F26;   //dd
$color-12: #6AA5FF; //dd
$color-13: #D1B57A; //dd
$color-14: #093B3B; //dd
$color-15: #1E1E1E; //dd
$color-16: #494949; //dd
$color-17: #77D99E; //dd
$color-18: #C8CED6;


.color-1 {
  color: $color-1;
}
.color-2 {
  color: $color-2;
}
.color-3 {
  color: $color-3 !important;
}
.color-4 {
  color: $color-4;
}
.color-5 {
  color: $color-5 !important;
}
.color-6 {
  color: $color-6 !important;
}
.color-7 {
  color: $color-7 !important;
}
.color-8 {
  color: $color-8 !important;
}
.color-9 {
  color: $color-9 !important;
}
.color-10 {
  color: $color-10 !important;
}
.color-11 {
  color: $color-11 !important;
}
.color-12 {
  color: $color-12 !important;
}
.color-13 {
  color: $color-13 !important;
}
.color-15 {
  color: $color-15 !important;
}
.color-16 {
  color: $color-16 !important;
}
.color-17 {
  color: $color-17 !important;
}

.bg-color-1 {
  background: $color-1 !important;
}
.bg-color-2 {
  background: $color-2 !important;
}
.bg-color-3 {
  background: $color-3 !important;
}
.bg-color-4 {
  background: $color-4 !important;
}
.bg-color-5 {
  background: $color-5 !important;
}
.bg-color-6 {
  background: $color-6 !important;
}
.bg-color-7 {
  background: $color-7 !important;
}
.bg-color-8 {
  background: $color-8 !important;
}
.bg-color-9 {
  background: $color-9 !important;
}
.bg-color-10 {
  background: $color-10 !important;
}
.bg-color-11 {
  background: $color-11 !important;
}
.bg-color-12 {
  background: $color-12 !important;
}
.bg-color-13 {
  background: $color-13 !important;
}
.bg-color-14 {
  background: $color-14;
}
.bg-color-15 {
  background: $color-15;
}
.bg-color-16 {
  background: $color-16;
}
.bg-color-17 {
  background: $color-17 !important;
}
.border-color-1{
  border: 1px solid $color-1;
}
.border-color-2{
  border: 1px solid $color-2;
}
.border-color-3{
  border: 1px solid $color-3 !important;
}
.border-color-4{
  border: 1px solid $color-4;
}
.border-color-5{
  border: 1px solid $color-5 !important;
}
.border-color-6{
  border: 1px solid $color-6;
}
.border-color-7{
  border: 1px solid $color-7;
}
.border-color-8{
  border: 1px solid $color-8 !important;
}
.border-color-9{
  border: 1px solid $color-9;
}
.border-color-10{
  border: 1px solid $color-10 !important;
}
.border-color-11{
  border: 1px solid $color-11 !important;
}
.border-color-12{
  border: 1px solid $color-12 !important;
}
.border-color-13{
  border: 1px solid $color-13;
}
.border-color-14{
  border: 1px solid $color-14;
}
.border-color-15{
  border: 1px solid $color-15;
}
.border-color-16{
  border: 1px solid $color-16;
}
.border-color-18{
  border: 1px solid $color-18;
}

.text-justify {
  text-align: justify;
}

.border-radius-4 {
  border-radius: 4px !important;
}
.border-radius-5 {
  border-radius: 5px !important;
}
.border-radius-8 {
  border-radius: 8px !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.border-radius-15 {
  border-radius: 15px;
}

.border-radius-16 {
  border-radius: 16px;
}
.border-radius-19 {
  border-radius: 19px;
}
.border-radius-20 {
  border-radius: 20px;
}
.border-radius-24 {
  border-radius: 24px;
}

.border-radius-50 {
  border-radius: 50%;
}

.border-radius-custom2 {
  border-radius: 0 0 8px 8px;
}

.line-height-20 {
  line-height: 20px;
}
.line-height-24 {
  line-height: 24px;
}

.line-height-30 {
  line-height: 30px;
}

.line-height-48 {
  line-height: 48px;
}
