@import "css-custom-color";

.ant-layout-sider {
  background: #EEF0F9 !important;
  border-left: 1px solid rgba(130, 155, 176, 0.5);
  flex: 0 0 220px !important;
  max-width: 220px !important;
  width: 220px !important;
}

.ant-menu.ant-menu-dark {
  //background: #303A3A !important;
  border-radius: 24px;
}

.ant-select .ant-select-selector {
  border: none !important;
  height: 100%;
}

.ant-menu-inline.ant-menu-root .ant-menu-item, .ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  flex-direction: row-reverse;
}

.ant-menu-title-content, .ant-menu-submenu-title {
  font-family: regular;
}

.ant-layout-sider-children {
  //box-shadow: 0 2px 4px #c1c1c14d;
  //border-radius: 16px !important;
}

.ant-layout-content {
  padding: 1.5rem !important;
  border-radius: 16px;
}

.ant-select {
  overflow: hidden;
}

.ant-select-selector {
  height: 100% !important;
  align-items: center;
}

.ant-menu .ant-menu-item-selected {
  background: #EEEBF4 !important;
  color: #593c8f
}

.ant-layout-header {
  height: auto !important;
  line-height: normal !important;
}

.ant-table-column-title {
  color: #121212;
  font-family: regular
}

.ant-table-cell, .ant-select-item-option-content, .ant-select-selection-item {
  color: #505050;
  font-family: regular
}

.dropdownHidden {
  display: none !important;
}

.ant-transfer-list {
  width: 100% !important;
  height: 400px !important;;
}

.ant-checkbox + span {
  width: 100%;
}

.ant-transfer-list-content-item > * {
  width: 100%;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background: transparent !important;
}

.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable, .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  height: 150px;
}

.datepicker-outer-container {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
}

.calendar-button {
  right: auto !important;
  left: 5px;
  bottom: 8px !important;
}

.qeydar-datepicker, .date-picker-wrapper {
  max-width: none !important;
}

.input-container {
  input {
    max-width: none !important;

  }
}

.p-timepicker {
  direction: ltr;
}

.p-calendar {
  width: 100% !important;
}

.p-element {
  height: 40px;
}

.ant-btn {
  line-height: 0 !important;
}

.nz-content {
  margin: 0 !important;
}

@media (max-width: 767px) and (min-width: 300px) {
  .ant-layout-content {
    margin: 0 !important;

  }
}

.autocompleteCreateQuestion {
  background-color: #F4EBFF !important;
  margin-top: 20px !important;
  border-radius: 20px !important;
  padding: 10px !important;

  .ant-select-item-option-content {
    color: #785ACE;
    font-family: boldfanum;
    font-size: 14px
  }
}

app-home-page{
  .ant-tabs-tab-btn{
    font-family : regular
  }
  .ant-tabs-ink-bar {
    background: #FC4A7E !important;
  }
}
